.layout-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

main {
    flex: 1; /* Allow the main content to grow and take the remaining space */
}

.footer {
    margin-top: auto; /* Push the footer to the bottom */
}